<h1>Your products card</h1>


<table class="table">
  <thead>
  <tr>
    <th>Quantity</th>
    <th>Product</th>
    <th>Price</th>
    <th>Value</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of cartProducts">
    <td>1</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.price}}</td>
    <td><button class="btn" (click)="removeProduct(product)">Remove</button></td>
  </tr>
  </tbody>

</table>

<button class="btn" routerLink="/dashboard">Continue shopping</button>
<button class="btn" routerLink="/end_form">Finalize</button>
