<div class="card" *ngFor="let product of products">
  <div class="card-body">
    <p class="product-name">{{product.name}}</p>
    <p class="product-description">{{product.description}}</p>

  </div>
  <button class="btn btn-secondary add-to-cart" (click)="addToCart(product)">{{product.price}}</button>
</div>

<div class="btn-group" id="pagination">
  <button class="btn" (click)="previousPage()"><</button>
  <button class="btn btn-light" disabled>{{currentPage}} / {{numberOfPages}}</button>
  <button class="btn" (click)="nextPage()">></button>
</div>

