<form *ngIf="! isSuccess">
  <h1>Recipient</h1>
  <div class="form-group">
    <label for="nameAndSurname">Name and surname</label>
    <input type="email" class="form-control" id="nameAndSurname" aria-describedby="emailHelp"
           placeholder="Name and surname" required="required" (keyup)="insertFullname($event)">
  </div>
  <h1>Address</h1>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" id="address" placeholder="Address" required="required" (keyup)="insertAddress($event)">
  </div>
  <button class="btn" (click)="saveOrder()">Finish order</button>
</form>

<div class="alert alert-success" *ngIf="isSuccess">
  <strong>Success!</strong>
</div>
<button class="btn" routerLink="/dashboard" *ngIf="isSuccess">Go to dashboard</button>
